.navbar {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100vw;
  height: 80px;

  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}