.todoList {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;

}

.todoList ul {
  width: 80%;
}

.todoList li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 8px;
  margin-bottom: 8px;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(0, 0, 0, 0.61);
}