.todoContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.checkBox-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.checkBox-todo--completed {
  color: green;
}

.checkBox-todo:hover {
  cursor: pointer;
}

.text-todo {
  color: black;
}

.TodoItem-p--completed {
  text-decoration: line-through;
}

.delete-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: gray;
}

.delete-todo:hover {
  color: red;
}